# Rust build artifacts
/target/
**/*.rs.bk
Cargo.lock.bak

# Sensitive files & Tokens
git_token.md
*token*
*.key
*.pem
.env
.env.*

# OS & Editor files
.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
